* {
  --g: #B6FFCE;
  --y: #F6FFA4;
  --o: #FDD7AA;
  --r: #FFA8A8;
  box-sizing: border-box;
}

.y {
  color: var(--y);
}

.imp {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
}

h1 {
  text-align: center;
  padding: 1rem;
  background-color: lightgray;
  box-shadow: 0.3rem 0.3rem black;
}

p {
  font-size: 2rem;
  font-family: monospace;
}

body {
  margin: 0;
  max-width: 700px;
  margin-inline: auto;
  background-image: linear-gradient(135deg, var(--r), var(--o));
  overflow-x: hidden;
}

.knives {
  height: 2rem;
  width: 100vw;
  margin-left: calc(-1 * (100vw - 700px) / 2);
  background-image: url("knife.png");
  background-size: 2rem;
  background-position: center;
}

.bats {
  height: 2rem;
  width: 100vw;
  margin-left: calc(-1 * (100vw - 700px) / 2);
  background-image: url("bats.png");
  background-size: 2rem;
  background-position: center;
}

.msg-intro {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.pic {
  --size: 10rem;
  width: var(--size);
  height: var(--size);
  background-image: url("me.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  transition: box-shadow 1s;
  animation-name: change-offset;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes change-offset {
  from {
    box-shadow:
      0px -6px 11px 0px var(--g),
      -6px 6px 11px 0px var(--y),
      6px 6px 11px 0px var(--o);
  }
  to {
    box-shadow:
      0px -26px 11px 0px var(--y),
      -26px 26px 11px 0px var(--o),
      26px 26px 11px 0px var(--g);
  }
}

.wavy-js > span {
  display: inline-block;
  transition: transform 0.1s ease-in-out;
  cursor: default;
}

.wavy-js > span:hover {
  transform: translateY(-5px);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--r);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
