* {
  box-sizing: border-box;
}

button {
  border-radius: 9999999px;
  padding: 1em;
  font-weight: bold;
  outline: none;
  font-family: monospace;
}

body {
  margin: 0;
  text-align: center;
}


.contentBox {
  height: 300px;
  /*I dont understand why it needs to be float rather than inline... but it does*/
  /* display: inline-block; */
  float:left;
  background: linear-gradient(blue, steelblue);
}

.contentBox:not(#displayScreen):hover {
  background:
    url("imgs/clickIcon.png") center no-repeat,
    lightblue !important;
  cursor: pointer;
}

#displayScreen {
  font-size: 3em;
  font-weight: bold;
  color: white;
  background: grey;
  user-select: none;
  display: flex;
  align-items: flex-end;
}

#displayScreen>div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#notaryServices {
  background-image: url("imgs/signIcon.png"), linear-gradient(blue, steelblue);
  background-position: center, 0 0;
  background-size: 80%, cover;
  background-repeat: no-repeat;
}

/* THIS AREA IS FOR THE SCROLL BAR */
/* THIS AREA IS FOR THE SCROLL BAR */
/* THIS AREA IS FOR THE SCROLL BAR */

body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: navy;
  outline: 1px solid slategrey;
}

/* THIS AREA IS FOR THE SCROLL BAR */
/* THIS AREA IS FOR THE SCROLL BAR */
/* THIS AREA IS FOR THE SCROLL BAR */
